@import '../index.css';


ul {
    list-style: none;
}

.nav-bar{
    display: block;
    width: 100%;
    background-color: var(--navBar);
    height: auto;
    top: 0;
    left: 0;;
}

.nav-bar > ul{
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content:flex-end;
    align-items: center;
}

.nav-bar > ul > li{
    width: auto;
    height: auto;
}
.nav-bar  i {
    padding: 5px;
    
}

.nav-bar > ul > li > a{
    color: var(--navBarLinks);
    padding: 30px;

}

.nav-bar > ul> li > a:hover {
    color: var(--bGround1);
}