@import "//webportafolio/src/index.css";


ul {
    list-style: none;
}

.nav-bar{
    display: block;
    width: 100%;
    background-color: var(--navBar);

}

.nav-bar > ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

.nav-bar > ul > li{
    width: 150px;

}
.nav-bar  i {
    padding: 10px;
    
}

.nav-bar > ul > li > a{
    color: var(--navBarLinks);

}