@import '../index.css';

.profilePic{
    width: 250px;
    border-radius:30px;
    height:auto;
}

.sectionAbout {
    height: 100vh;
    width: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
}

.sectionAbout > div {
  width: 100%;
}

.aboutHeader > h1{
  transition: color 2s ease-out;
  
  
}
.aboutHeader > h1:hover{
    
    color: var(--hoverEffect);
    
  }


  
