@import '../index.css';

.profilePic{
    width: 250px;
    border-radius:30px;
    height:auto;
}

.sectionAbout {
  
    
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    row-gap: 30px;
    
}

.aboutHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
}

.aboutHeader > h1{
  transition: color 2s ease-out;
  
  
}


  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }


.letterAnimation{
  display: inline-block;
  
  
}

.letterAnimation:hover{
  color: var(--navBar);
  transform: skewX(15deg);
}

.aboutText{
  display: block;
  margin: auto;
  text-align: justify;
  width: 60%;
  font-size: 20px;
}

